@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center flex-column">
    <div class="d-flex justify-content-around">
        <img src="~/img/JoelHilton.jpg" />
    </div>
    <br />
    <p>
        Welcome to my movie collection! Follow the buttons to add a movie to the collection,
        check out my podcast Baconsale, or view all movies in my collection!
    </p>
</div>
<br /><br />
<div class="d-flex justify-content-around">
    <a asp-controller="Home" asp-action="FilmList" class="btn btn-primary">View All Movies in the Collection</a>
    <a asp-controller="Home" asp-action="Podcast" class="btn btn-primary">View My Podcast Page!</a>
    <a asp-controller="Home" asp-action="AddMovie" class="btn btn-primary">Add a Movie</a>
</div>