@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>Baconsale is a podcast I run with a couple of friends. Follow the link below to give it a listen!</p>
<a href="https://baconsale.com/">Baconsale</a>